<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body bgcolor="pink">
<center><h1> LOGIN</h1></center>
<body>
<form action="login" method="POST">
  {% csrf_token %}
    <center><label><b>User Name</b></label><br>
  <input type="text" name="username" placeholder="enter your username"size="35"><br><br>
        <center><label><b>Password</b></label><br>
  <input type="password" name="password" placeholder="enter your password"size="35"><br><br>
  <input type="submit">
</form>
</body>
</html>